@using System.Web.UI.WebControls
@using Microsoft.AspNet.Identity
@using SheetMusic.iAz_Magic
@model SheetMusic.Models.Piece
@using WebMatrix.Data;

@{
    ViewBag.Title = "Create";

    string connectionString = @"Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Sheetz.mdf;Integrated Security=True";
    string provider = "System.Data.SqlClient";
    Database db = Database.OpenConnectionString(connectionString, provider);

    var _key = User.Identity.GetUserId();



    if (IsPost)
    {
        var musicName = Request["musicName"];
        var musicSubName = Request["musicSubName"];
        var musicArtist = Request["musicArtist"];
        var musicYear = Request["musicYear"].ToString();
        var musicDescription = Request["musicDescription"];
        var musicGenre = Request["musicGenre"];
        var musicDifficulty = Request["musicDifficulty"];

        Database_Management.yoinkintoDatabase(musicName, musicSubName, musicGenre, musicArtist, musicYear, musicDescription, musicDifficulty, _key);
    }
}

<head>
    <link rel=" stylesheet" type="text/css" href="~/Custom_Style/Custom Layout.css" />

    <style>
        input,
        select,
        textarea {
            max-width: 350px;
        }

        .Matrix {
            background-color: #357cb4;
            color: white;
            padding: 20px;
            padding-top: 28px;
            border-radius: 25px;
        }
    </style>
</head>

<h2>Add - Piece</h2>
<h4>Fill the Form to add a new Piece</h4>
<hr />

<form method="post" action="Index.cshtml" class="form-horizontal">
    <div class="Matrix">
        <div class="form-group">
            <label for="musicName" class="control-label col-md-2">Name:</label>
            <div class="col-md-10">
                <input type="text" placeholder="The 'Piece' name" name="musicName" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label for="musicSubName" class="control-label col-md-2">Subtitle:</label>
            <div class="col-md-10">
                <input type="text" placeholder="" name="musicSubName" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label for="musicArtist" class="control-label col-md-2">Artist / Composer:</label>
            <div class="col-md-10">
                <input type="text" placeholder="The Artist/Composer's Name" name="musicArtist" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label for="musicYear" class="control-label col-md-2">Year:</label>
            <div class="col-md-10">
                <input type="number" placeholder="Year of Recording/Writing" name="musicYear" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label for="musicDescription" class="control-label col-md-2">Location:</label>
            <div class="col-md-10">
                <input type="text" placeholder="Location of the Piece" name="musicDescription" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label for="musicGenre" class="control-label col-md-2">Genre:</label>
            <div class="col-md-10">
                <select name="musicGenre" class="form-control">
                    <option value="Rock">Rock</option>
                    <option value="Caribbean">Caribbean</option>
                    <option value="Pop">Pop</option>
                    <option value="Hip Hop">Hip Hop</option>
                    <option value="Blues">Blues</option>
                    <option value="Country">Country</option>
                    <option value="R&B Soul">R&B Soul</option>
                    <option value="Jazz">Jazz</option>
                    <option value="Electronic">Electronic</option>
                    <option value="Anime">Anime</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="musicDifficulty" class="control-label col-md-2">Difficulty:</label>
            <div class="col-md-10">
                <select name="musicDifficulty" class="form-control">
                    <option value="Beginner">Beginner</option>
                    <option value="Intermediate">Intermediate</option>
                    <option value="Expert">Expert</option>
                    <option value="Expert Plus">Expert Plus</option>
                </select>
            </div>
        </div>
    </div>
    <hr />
    <div style="text-align:center">
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info" }) |
        <input type="submit" value="Create" class="btn btn-success" />
    </div>
</form>

@if (!Request.IsAuthenticated)
{
    Response.Redirect(Url.Action("Login", "Account"));
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
