@{
    ViewBag.Title = "Home Page";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Custom_Style/Custom Layout.css">
    <style>
        footer {
            color: white;
        }
    </style>
</head>
<body class="mainPage-image">
    <div class="jumbotron">
        <h1>Sheetz</h1>
        <p class="lead">
            Sheetz is an atlas apllication to point you in the direction where your sheetmusic is stored.
            its currently in Dev so some features may or may not work.
        </p>
        <p><a href="https://github.com/Altair115/SheetMusic" class="btn btn-info btn-lg">Learn more &raquo;</a></p>
        <P>Don't have an Account @Html.ActionLink("Register", "Register", "Account", null, null) now!</P>
    </div>
</body>
