@{
    ViewBag.Title = "Home Page";
}
@using SheetMusic.Models
@model IEnumerable<SheetMusic.Models.Piece>

<div class="jumbotron">
    <h1>Sheetz</h1>
    <p class="lead">
        Sheetz is an atlas apllication to point you in the direction where your sheetmusic is stored.
        its currently in Dev so some features may or may not work.
    </p>
    <p><a href="https://github.com/Altair115/SheetMusic" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>